<header>
  <section>
  {{#with person}}
    <div>
      <h1>{{name}}</h1>
      Age
      {{age}}
      -
      {{gender}}
    </div>
    <br />
    {{#with address}}
      <address>{{country}}
        /
        {{city}}
        /
        {{state}}
        /
        {{street}}
        / (zip){{zip}}
      </address>
    {{/with}}
  </section>
  <hr />
</header>
<body>
  <main>
    <section>
    <div>
      <h2>My education:</h2>
    </div>    
    {{#each education}}
    <div>
      <h3>Degree: <em>{{degree}};</em></h3>
      <h3>Major: <em>{{major}};</em></h3>
      <h3>University: <em>{{university}};</em></h3>
      <h3>Graduation Year: <em>{{graduationYear}};</em></h3>
    </div>
    {{/each}}
    </section>

    <hr>
    <br>

    <div>
        <h2>Work Experience:</h2>
    </div>

<section>
    {{#each workExperience}}
    <div>
        <ul>
            <li>Company - <b>{{company}}</b>;</li>
            <li>Position - <b>{{title}}</b>;</li>
            <li>Period of work: <b>{{startDate}} -- {{endDate}};</b></li>              
        </ul>
    </div>
    <hr>
    <br>
</section>

<section></section>
    <div>
      <h2>About company:</h2>
        <ul>
          <li>Year founded - ({{year_founded}});</li>
          <li>Industry - {{industry}};</li>
          <br>

            {{#each employees}}
              <ul>
                <b>Employees:</b>
                <li>{{name}}
                   ({{position}}, 
                   {{department}})
                </li>
                <br>

              {{#each projects}}
                <b>Project:</b>
                  <li>Name - <em>{{name}}</em></li>
                  <li>Description - <em>{{description}}</em></li>
                  <li>Status - <em>{{status}}</em></li>
                <br>

                 {{#each teams}}
                   <b>Teams:</b>
                   <li>Team name: <em>{{team_name}};</em></li>
                    {{#with team_leader}}
                      <ul>                        
                        <li>Team leader: <em>{{name}};</em></li>
                        <li>Title: <em>{{title}};</em></li>
                        <li>Email: <em>{{email}};</em></li>
                      </ul>
                    {{/with}}
                    <br>

                    {{#each team_members}}
                    <b>Team members:</b>
                      <ul>
                        <li>Name: <em>{{name}};</em></li>
                        <li>Title: <em>{{title}};</em></li>
                        <li>Email: <em>{{email}};</em></li>
                        <li>Skills</li>
                          {{#each skills}}                                              
                          <ol>
                            <li>{{this}}</li>
                          </ol>
                          {{/each}}                                                    
                      </ul>
                      <br>

                      {{#each projects}}
                        <b>Projects:</b>
                          <ul>
                            <li>Name: <em>{{name}}</em>;</li>
                            <li>Description: <em>{{description}}</em>;</li> 
                            <li>Technologies:</li> 
                            {{#each technologies}}
                              <ul>
                                <li>{{this}}</li>
                              </ul>
                            {{/each}}
                            <br>

                            <li><b>Team members</b></li>

                            {{#each team_members}}
                              <ul>
                                <li>Name: <em>{{name}};</em></li>
                                <li>Title: <em>{{title}};</em></li>
                              </ul>
                            {{/each}}                          
                              
                          </ul>
                      {{/each}}
                    {{/each}}
                 {{/each}}
              {{/each}}
            {{/each}}
            </ul>
        </ul>
    </div>
    <hr>
    <br>
    
    <div>
      <h2> My responsibilities</h2>
        {{#with responsibilities}}
          <ul>
            <li><em>{{0}}</em>;</li>
            <li><em>{{1}}</em>;</li>
          </ul>
        {{/with}}
    </div>
    
    {{/each}}
  </main>
  {{/with}}
</body>