{{#with web}}
  <div>
    Name:
    <em>{{languages.0.name}};</em><br /><br />
    Version:
    <em>{{languages.0.version}};</em><br /><br />
    Description:
    <em>{{languages.0.description}};</em><br />

    <h2>Element:</h2>
    <ul>
      <li>Name: <b>{{languages.0.elements.0.name}};</b></li>
      <li>Description:
        <b
        >{{languages.0.elements.0.description}};</b></li><br
      />
      <h3>Attributes:</h3>
      <li>Name:
        <b
        >{{languages.0.elements.0.attributes.0.name}};</b></li>
      <li>Description:
        <b
        >{{languages.0.elements.0.attributes.0.description}};</b></li><hr
      />
      <li>Name:
        <b
        >{{languages.0.elements.0.attributes.1.name}};</b></li>
      <li>Name:
        <b
        >{{languages.0.elements.0.attributes.1.description}};</b></li>
    </ul>
  </div>
  <hr /><hr />
  <div>
    <h2>Element:</h2>
    <ul>
      <li>Name: <b>{{languages.0.elements.1.name}};</b></li>
      <li>Description:
        <b
        >{{languages.0.elements.1.description}};</b></li><br
      />
      <h3>Attributes:</h3><br />
      <li>Name:
        <b
        >{{languages.0.elements.1.attributes.0.name}};</b></li>
      <li>Description:
        <b
        >{{languages.0.elements.1.attributes.0.description}};</b></li><hr
      />
      <li>Name:
        <b
        >{{languages.0.elements.1.attributes.1.name}};</b></li>
      <li>Description:
        <b
        >{{languages.0.elements.1.attributes.1.description}};</b></li>
    </ul>
  </div>
  <hr /><hr />

  <div>
    <h2>Element:</h2><br />
    <ul>
      <li>Name: <b>{{languages.1.name}};</b></li>
      <li>Version:
        <b>{{languages.1.version}};</b></li>
      <li>Description:
        <b>{{languages.1.description}};</b></li><br />

      <h3>Properties:</h3>

      <li>Name:
        <b>{{languages.1.properties.0.name}};</b></li>
      <li>Description:
        <b
        >{{languages.1.properties.0.description}};</b></li><br
      />
      <h3>Values:</h3>
      <li>Value:
        <b
        >{{languages.1.properties.0.values.0.value}};</b></li>
      <li>Description:
        <b
        >{{languages.1.properties.0.values.0.description}};</b></li><hr
      />

      <li>Value:
        <b
        >{{languages.1.properties.0.values.1.value}};</b></li>
      <li>Description:
        <b
        >{{languages.1.properties.0.values.1.description}};</b></li><hr
      /><hr />

      <li>Name:
        <b>{{languages.1.properties.1.name}};</b></li>
      <li>Description:
        <b
        >{{languages.1.properties.1.description}};</b></li><br
      />

      <h3>Values:</h3>

      <li>Value:
        <b
        >{{languages.1.properties.1.values.0.value}};</b></li>
      <li>Description:
        <b
        >{{languages.1.properties.1.values.0.description}};</b></li><hr
      />

      <li>Value:
        <b
        >{{languages.1.properties.1.values.1.value}};</b></li>
      <li>Description:
        <b
        >{{languages.1.properties.1.values.1.description}};</b></li>
      <hr /><hr /><br /><br />
    </ul>
  </div>

  <h2>Element:</h2>

  <div>
    Name:
    <em>{{languages.1.name}};</em><br /><br />
    Version:
    <em>{{languages.1.version}};</em><br /><br />
    Description:
    <em>{{languages.1.description}};</em><br />
  </div>

  <div>

    <h3>Properties:</h3>

    <ul>
      <li>Name:
        <b>{{languages.1.properties.0.name}}</b></li>
      <li>Description:
        <b
        >{{languages.1.properties.0.description}}</b></li><br
      />
      <h3>Values:</h3>
      <li>Value:
        <b
        >{{languages.1.properties.0.values.0.value}};</b></li>
      <li>Description:
        <b
        >{{languages.1.properties.0.values.0.description}};</b></li><hr
      /><br />

      <li>Value:
        <b
        >{{languages.1.properties.0.values.1.value}};</b></li>
      <li>Description:
        <b
        >{{languages.1.properties.0.values.1.description}};</b></li><hr
      /><hr /><br />

      <li>Name:
        <b>{{languages.1.properties.1.name}}</b></li>
      <li>Description:
        <b
        >{{languages.1.properties.1.description}}</b></li><br
      />
      <h3>Values:</h3>
      <li>Value:
        <b
        >{{languages.1.properties.1.values.0.value}};</b></li>
      <li>Description:
        <b
        >{{languages.1.properties.1.values.0.description}};</b></li><hr
      /><br />

      <li>Value:
        <b
        >{{languages.1.properties.1.values.1.value}};</b></li>
      <li>Description:
        <b
        >{{languages.1.properties.1.values.1.description}};</b></li>
    </ul>
  </div>
  <br />

  <div>
    <h2>Element:</h2>
    <ul>
      <li>Name: <b>{{languages.2.name}};</b></li>
      <li>Version:
        <b>{{languages.2.version}};</b></li>
      <li>Description:
        <b>{{languages.2.description}};</b></li><br />
    </ul>
  </div>

  <div>

    <h3>Functions:</h3>

    <ol>
      <li>Name:
        <b>{{languages.2.functions.0.name}};</b></li>
      <li>Description:
        <b>{{languages.2.functions.0.description}};</b></li>

      <h3>Parameters:</h3>
      <ul>
        <li>Name:
          <b
          >{{languages.2.functions.0.parameters.0.name}};</b></li>
        <li>Type:
          <b
          >{{languages.2.functions.0.parameters.0.type}};</b></li>
        <li>Description:
          <b
          >{{languages.2.functions.0.parameters.0.description}};</b></li><hr><hr><br>

          <li>Name:
        <b>{{languages.2.functions.1.name}};</b></li>
      <li>Description:
        <b>{{languages.2.functions.1.description}};</b></li>

      <h3>Parameters:</h3>
      
      <ul>
        <li>Name:
          <b
          >{{languages.2.functions.1.parameters.0.name}};</b></li>
        <li>Type:
          <b
          >{{languages.2.functions.1.parameters.0.type}};</b></li>
        <li>Description:
          <b
          >{{languages.2.functions.1.parameters.0.description}};</b></li>
      </ul>
    </ol>
  </div>
{{/with}}