<p>
  <button
    class='btn btn-primary'
    type='button'
    data-bs-toggle='collapse'
    data-bs-target='#collapseWidthExample'
    aria-expanded='false'
    aria-controls='collapseWidthExample'
  >
    {{text}}
  </button>
</p>
<div style='min-height: 120px;'>
  <div
    class='collapse collapse-horizontal'
    id='collapseWidthExample'
  >
    <div class='card card-body' style='width: 300px;'>
      {{name}}
      -

      {{rout}}
      <br />
      {{name1}}
      -
      {{rout1}}
      <br />
      {{name2}}
      -
      {{rout2}}
      <br />
      {{name3}}
      -
      {{rout3}}
      <br />
      {{name4}}
      -
      {{rout4}}
      <br />
      {{name5}}
      -
      {{ruot5}}

    </div>
  </div>
</div>